---
import Container from 'components/Container.astro'
import Text from 'components/Text.astro'
import type { Contact } from 'types/routes/contact'

type Props = {
  content: Contact.Header
}

const { content } = Astro.props as Props
---

<Container fullscreen={true} as="section" class="sm:children:col-start-2 sm:children:col-end-12">
  <header class="col-start-2 col-end-7 row-start-9 row-end-12 flex flex-col justify-end sm:row-start-8 sm:row-end-11 sm:justify-center">
    <Text as="h1">{content.title}</Text>
    <Text as="h2" size="2xl">{content.subtitle}</Text>
  </header>
  <div class="grid place-content-center col-start-2 col-end-12 row-start-6 row-end-8">
    <Text class="text-center max-w-lg">{content.text}</Text>
  </div>
  <footer class="flex flex-col items-end justify-end col-start-6 col-end-12 row-start-9 row-end-12 sm:row-start-11 sm:row-end-13">
    <a href={`tel:${global.strapi.informations.phone}`}>{global.strapi.informations.phone}</a>
    <a href={`mailto:${global.strapi.informations.email}`}>{global.strapi.informations.email}</a>
    <Text as="small">{global.strapi.informations.location}</Text>
  </footer>
</Container>
