---
import Container from 'components/Container.astro'
import Image from 'components/Image.astro'
import Sprite from 'components/Sprite.astro'
import Text from 'components/Text.astro'
import { cloudinary } from 'src/cloudinary'
import type { About } from 'types/routes/about'

type Props = {
  content: About.Header
}

const { content } = Astro.props as Props
const image = cloudinary.image(content.image.data.attributes.provider_metadata.public_id)
---

<Container fullscreen={true} as="header">
  <div class="row-start-2 row-end-12 col-start-2 col-end-12 flex items-end portrait:row-end-13">
    <sanserif-skew>
      <Text size="3xl" class="max-w-[3em]">{content.title}</Text>
    </sanserif-skew>
  </div>
  <div class="row-start-4 col-start-2 col-end-6 portrait:col-end-12">
    <Text class="max-w-lg">{content.text}</Text>
  </div>
  <div
    class:list={[
      'col-start-6 col-end-12 row-start-4 row-end-9 flex justify-end',
      'portrait:row-start-6 portrait:col-start-2'
    ]}
  >
    <sanserif-skew>
      <Image
        src={image.toURL()}
        alt={content.image.data.attributes.alternativeText}
        width={680}
        height={420}
        class="w-[68vmin] xl:w-[50vmin] md:w-[60vmin]"
      />
    </sanserif-skew>
  </div>
  <div
    class:list={[
      'flex justify-end items-center col-start-8 col-end-12 row-start-10',
      'portrait:items-end portrait:row-start-12 portrait:text-right'
    ]}
  >
    <Text as="h2" size="lg">{content.subtitle}</Text>
    <Sprite id="arrow" class="ml-4 w-6 h-6 text-black portrait:rotate-90 portrait:mb-1" />
  </div>
</Container>
