---
import clsx from 'clsx'
import routes from 'utilities/routes'
import Text from './Text.astro'
---

<sanserif-menu
  class="grid place-content-center fixed bg-black text-gray inset-0"
  style="display: none;"
>

  <nav class="text-center max-w-xl">
    {global.strapi.menu.link.map((link, index) => (
      <Text
        as="a"
        size="2xl"
        class={clsx(
          'transition-opacity block overflow-hidden',
          routes[link.url] !== Astro.url.pathname && 'opacity-25 hover:opacity-50'
        )}
        href={routes[link.url]}
        data-nav-link
      >
        <sanserif-marquee
          class="flex transition-opacity justify-center"
          direction={index % 2 === 0 ? -100 : 100}
          pauseonhover={true}
        >
          {[...new Array(10)].map(() => (
            <div class="flex items-center whitespace-nowrap pl-4 before:mr-4 before:h-4 before:w-4 before:bg-current before:rounded-full">
              {link.name}
            </div>
          ))}
        </sanserif-marquee>
      </Text>
    ))}
  </nav>

  <div class="variation-normal absolute inset-x-custom-space bottom-custom-space flex space-x-4 items-end justify-between sm:flex-col sm:items-center sm:space-x-0">
    <Text class="overflow-y-hidden" size="base" as="small">
      <div data-nav-small>{global.strapi.informations.location}</div>
    </Text>
    <div class="text-center">
      <div class="overflow-y-hidden">
        <a data-nav-small class="block" href={`mailto:${global.strapi.informations.email}`}>{global.strapi.informations.email}</a>
      </div>
      <div class="overflow-y-hidden">
        <a data-nav-small class="block" href={`tel:${global.strapi.informations.phone}`}>{global.strapi.informations.phone}</a>
      </div>
    </div>
    <Text class="overflow-y-hidden" as="a">
      <div data-nav-small>{global.strapi.dictionary.rights}</div>
    </Text>
  </div>

</sanserif-menu>
