---
import Text from 'components/Text.astro';
import { app } from 'src/app';
import { route } from 'utilities/route';
import MarqueeItem from './MarqueeItem.astro';
---

<sanserif-menu
  class="grid place-content-center fixed bg-black text-gray inset-0"
  style="display: none"
>
  <nav class="text-center max-w-xl">
    {
      app.global?.menu.links.map((link, index) => (
        <Text
          as="a"
          size="2xl"
          class:list={[
            'transition-opacity block overflow-hidden',
            route(link.route) !== Astro.url.pathname && 'opacity-25 hover:opacity-50',
          ]}
          href={route(link.route)}
          data-nav-link
        >
          <sanserif-marquee
            class="flex transition-opacity justify-center"
            direction={index % 2 === 0 ? -100 : 100}
            pauseonhover={true}
          >
            {Array.from({ length: 10 }, () => (
              <MarqueeItem>{link.name}</MarqueeItem>
            ))}
          </sanserif-marquee>
        </Text>
      ))
    }
  </nav>
  <div
    class:list={[
      'variation-normal absolute inset-x-custom-space bottom-custom-space flex',
      'space-x-4 items-end justify-between sm:flex-col sm:items-center sm:space-x-0',
    ]}
  >
    <div class="overflow-y-hidden">
      <small class="block" data-nav-small>{app.global?.informations.location}</small>
    </div>
    <div class="text-center">
      <div class="overflow-y-hidden">
        <a class="block" href={`mailto:${app.global?.informations.email}`} data-nav-small>
          {app.global?.informations.email}
        </a>
      </div>
      <div class="overflow-y-hidden">
        <a class="block" href={`tel:${app.global?.informations.phone}`} data-nav-small>
          {app.global?.informations.phone}
        </a>
      </div>
    </div>
    <div class="overflow-y-hidden">
      <small class="block" data-nav-small>{app.dictionary?.rights}</small>
    </div>
  </div>
</sanserif-menu>
